.form-area{
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.form-item{
  display: flex;
  text-align: center;
  justify-content:bitween;
  align-items: center;
  margin-bottom: 15px;
}
.form-item .form-left{
  width: 30%;
  font-weight: bold;
  color: #333;
  text-align:justify;
  max-width: 100px;
}



.form-item .form-right{
  width: 70%;
  text-align: left;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select,
textarea,
input[type="date"],
input[type="time"],
input[type='month'],
input[type="datetime-local"]{
  padding: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #FFF;
}

input[type="text"].master_edit,
input[type="number"].master_edit,
input[type="email"].master_edit,
input[type="password"].master_edit,
select.master_edit,
textarea.master_edit,
input[type="date"].master_edit,
input[type="time"].master_edit,
input[type='month'].master_edit,
input[type="datetime-local"].master_edit{
  padding: 3px;
}

input[type="text"].sign_title{
  width:calc(100% - 120px);
  max-width: 450px;
}
input[type="text"].sign_title2{
  width:calc(100% - 80px);
}


select#level{
  width: 200px;
}

textarea{
  width: 100%;
  resize: vertical;
}

.form-button-area{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
.form-button-area button{
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 4px;
  background-color: #2465aa;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  min-width:100px;
}
.form-button-area button:hover{
  background-color: #1f8bff;
}
.form-button-area button.submit-button{
  background-color: #28a745;
}
button[type="submit"]{
  background-color: #28a745;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.form-button-area button.submit-button:focus{
  outline: none;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}
.form-button-area button.submit-button:hover{
  background-color: #38df5c;
}
.form-button-area button.reset-button{
  background-color: #eee;
  color: #000;
}
.form-button-area button.reset-button:hover{
  background-color: #FFF;
}

select#level option:nth-child(2){
  background-color: orange;

}
select#level option:nth-child(3){
  background-color: red;
  color: #FFF;
}
select#level option:nth-child(4){
  background-color: purple;
  color: #FFF;
}

span.required{
  display: inline-block;
  padding:2px 4px;
  border-radius: 3px;
  background-color: red;
  color: #FFF;
  margin-left: 5px;
}
div.form_buttons{
  text-align: center;
  margin-top: 20px;
}
div.form_buttons input[type="button"],
div.form_buttons input[type="submit"]
{
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #FFF;
  background-color: cadetblue;
  min-width: 150px;
}
div.form_buttons input[type="button"]:hover,
div.form_buttons input[type="submit"]:hover
{
  background-color:darkcyan
}

