.top_sche_area {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  
  align-self: stretch;
}
.top_shcedule{
  width: calc(48% - 10px);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.event_name .agent{
  text-align: left;
  font-size: 0.5em;
  color: cadetblue;
}

.graph_charts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  align-items: stretch;
  align-content: stretch;
}
.chartbox {
  width: calc(100% - 10px)  ;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cb_half {
  width: calc(48% - 10px);
}
.cb_quarter {
  width: calc(24% - 10px);
}
.cb_third {
  width: calc(32% - 5px);
}
.flex_001 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  align-items: stretch;
  align-content: stretch;
}

.iframe-wrap {
  width: 360px;
  height: 640px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.iframe-wrap iframe {
  width: 1080px;
  height: 1920px;
  transform: scale(0.3333);
  transform-origin: top left;
  border: none;
}

@media screen and (max-width: 1370px) {
  
  .cb_half {
    width: calc(100% - 10px);
  }
  .cb_quarter {
    width: calc(48% - 10px);
  } 
  
}