#controller_right2 #download{
  width: 100px;
  min-height: 50px;
  text-align: center;
  background-color: #979797;
  border-radius: 3px;
}
#controller_right2 #download:hover{
  background-color: #cfcfcb;
}
#controller_right2 #download a{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-decoration: none;
  color: #000;
}