body{
  text-align: center;
}
main{
  width: 100%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.wrapper{
  width: 85%;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
}
.display_none{
  display: none;
}
aside{
  width: 15%;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
aside.sidebar{
  background-color: cornflowerblue;
  color: #FFF;
}
#controller{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
#controller_left{
  width: 50%;
}
#controller_date, #controller_month, #controller_year{
  display: flex;
  justify-content: space-between;
  gap:5px;
  margin-top: 10px;
}
#controller_date{
  width: 80%;
}
#controller_month, #controller_year{
  width:30%;
}

#controller_date > div{
  width: 20%;
  min-height: 50px;
  text-align: center ;
  background-color: #979797;
  border-radius: 3px;
}

#controller_month > div, #controller_year > div{
  width: 30%;
  min-height: 50px;
  text-align: center ;
  background-color: #979797;
  border-radius: 3px;
}
#controller_date > div:hover, #controller_month > div:hover, #controller_year > div:hover{
  background-color: #cfcfcb;
}
#controller_date > div > a, #controller_month > div > a, #controller_year > div > a{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-decoration: none;
  color: #000;
}
#controller_right{
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap:5px;
}
#controller_right > div{
  width: 40%;
  min-height: 50px;
  text-align: center ;
  background-color: #979797;
  border-radius: 3px;
}
#controller_right > div:hover{
  background-color: #cfcfcb;
}
#controller_right > div > a{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-decoration: none;
  color: #000;
}
.event_table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    border: 1px solid #CCC;
}
.event_table th{
    background-color: #979797;
    color: #FFF;
    font-weight: 700;
}
tr.event_tr_0{
    background-color: #979797;
}
tr.event_tr_1{
    background-color: #ffff88;
}
td{
    border: 1px solid #CCC;
    padding: 2px;
}
tr.total{
    background-color:#dddddd;
    font-weight: 700;
}



input[type="text"]{
    width: 100%;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 2px;
}

#schedate_change input[type="date"]{
  font-size: 1.5em;
  font-weight: 700;
  
}
#schedate_change button,#csv_form button{
  background-color: #4ade80;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.toggleButton {
  position: relative;
  display: block;
  width: 56px;
  height: 28px;
  border: 1px solid #555555;
  border-radius: 9999px;
  background-color: #dddddd;
  cursor: pointer;
}

.toggleButton:has(:focus-visible) {
  outline: auto;
  outline: auto -webkit-focus-ring-color;
}

.toggleButton:has(:checked) {
  background-color: #4ade80;
}

.toggleButton__checkbox {
  appearance: none;
  position: absolute;
  top: 50%;
  left: 2px;
  width: 24px;
  height: 24px;
  border: 1px solid #555555;
  border-radius: 9999px;
  transform: translateY(-50%);
  outline: none;
  background-color: #ffffff;
  transition: left 0.2s;
  cursor: pointer;
}

.toggleButton__checkbox:checked {
  left: calc(100% - 26px);
}
.non_disp{
  display: none;
}

.csv_upload{
  width: 100%;  
  text-align: center;
  margin-top: 30px;
}
.csv_upload_form{
  width: 70%;
  margin: 0 auto;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 5px;
}
.csv_upload_form input[type="file"]{
  width: 60%;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 2px;
}
.csv_list{
  margin-top:30px;
}
table.csv_table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  border: 1px solid #CCC;
}
.agent_name{
  text-align: left;
  font-size: 0.5em;
  color: cadetblue;
}
.event_name{
  text-align: left;
}

.ka_en_amount{
  text-align: right;
  font-weight: 700;
  font-size: 1.2em;
}

aside.sidebar h2{
  display: block ;
  background-color:royalblue;
  border-radius: 3px;
  border: 1px solid #CCC;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  font-weight: 700;
  color: #FFF;
  padding: 5px;
  margin: 0;
  margin-bottom: 5px;
}
aside.sidebar h3{
  display: block;
  background-color:royalblue;
  padding: 5px;
  font-size: 1.1em;
  font-weight: 700;
  color: #FFF;
}
aside.sidebar ul{
  list-style: none;
  margin: 3px 0 ;
}
aside.sidebar ul li i{
  margin-right: 8px;
}

.footer_logo{
  width: 200px;
  height: auto;
}

.cell_w10{ width: 10px; }
.cell_w20{ width: 20px; }
.cell_w30{ width: 30px; }
.cell_w40{ width: 40px; }
.cell_w50{ width: 50px; }
.cell_w60{ width: 60px; } 
.cell_w70{ width: 70px; }
.cell_w80{ width: 80px; }
.cell_w90{ width: 90px; }
.cell_w100{ width: 100px; }

span.sales-cat{
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 3px;
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  padding-bottom: 2px;
  text-align: center;
}
span.sales-cat-ka{
  background-color:darkgreen;
}
span.sales-cat-en{
  background-color:blue
}
span.sales-cat-sho{
  background-color:darkorange;
}

span.status-letter{
  display: inline-block;
  width: 17px;
  height: 18px;
  border-radius: 3px;
  margin-right: 3px;
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  padding: 0 0 3px 0;
  text-align: center;
}
span.status-letter-1{ background-color: red;}
span.status-letter-2{ background-color:blue;}
span.status-letter-3{ background-color:green;}
span.status-letter-4{ background-color:lightgray;}
span.status-letter-5{ background-color:black;}

span.dc {
  display: inline-block;
  background-color:black;
  color: #fff;
  font-size: 0.8em;
  font-weight: 700;
  border-radius: 50%;
  width: 1.5em;
  text-align: center;
}
span.dc-A { background-color: #ff0000;}
span.dc-B { background-color: darkgreen;}
span.dc-C { background-color: #0000ff;}

span.additional_sales {
  display: inline-block;
  background-color: dimgray;
  color: #fff;
  font-size: 0.8em;
  font-weight: 700;
  border-radius: 50%;
  width: 1.5em;
  text-align: center;
}
.text_left {
  text-align: left;
  font-size: 0.8em;
  color: #555;
  margin-top: 10px;
}
.text_right {
  text-align: right;
  font-size: 0.8em;
  color: #555;
  margin-top: 10px;
}

@media screen and (max-width: 1370px) {
  html{
    font-size: 0.8em !important;
  }
  #eventsEn, #eventsKa,#eventsOther,
  #nextEventsEn, #nextEventsKa,#nextEventsOther
  {
    font-size: 0.6em !important;
  }
}