body{
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  text-align: center;
  background-color:darkslategrey;
  color: #000;
  max-height: 1920px;
  overflow: hidden;
}

#wrapper{
  
  max-width: 1080px;
  margin: 0 auto;
  background-color:#fff8b4;
  min-height: 1920px;
  padding: 35px 35px;
  overflow: hidden;
  background-image: url('../images/digisign_bg.png');
  background-size: cover;
}
body.preview{
  overflow:auto;


}
.headbox{
  width: 100%;
  margin-bottom: 50px;
  display: flex;
}
.headbox_left{
  width: 75%;
  text-align: left;
}
.headbox_left h1{
  font-size: 4em;
  font-weight: 700;
  color:darkred;
  text-shadow: 2px 2px 3px rgba(6, 7, 54, 0.6);
}
.headbox_left h2{
  font-size: 2em;
  font-weight: 700;
  color:darkred;
}

.headbox_right{
  width: 25%;
  text-align: center;
  font-size: 2.2em;
}
.headbox_logo{
  width: 100%;
}
.headbox_logo img{
  width: 100%;
  height: auto;
}
.eventbox{
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}
.eventbox_left{
  width: 75%;
  font-size: 2.8em;
  text-align: left;
  font-weight: 700;
  
}
.eventbox_right{
  width: 25%;
  text-align: center;
  font-size: 1.8em;
}
.eventbox_room{
  width: 100%;
}
.eventbox_floor{
  width: 100%;
  font-size: 1.1em;
}
.eventbox_time{
  font-size: 1.1em;
}
.eventbox_left,.eventbox_floor,.eventbox_time{
  text-shadow: 2px 3px 3px rgba(0, 0, 0, .6);
}
.eventbox_line{
  margin-bottom: 15px;
}
#snow_particlesjs{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
canvas { 
  top: 0;
  left:0;
}
#footer{
  position: absolute;
  width: 100%;
  max-width: 1080px;
  background-color:papayawhip;
  background-image : linear-gradient( 180deg, #e9e9e9 0%, #ffffff 45%,#ffffff 55%, #979797 100%);
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 15px 0;
  box-shadow: 0px -3px 15px 5px rgba(0, 0, 0, 0.3);
}
#footer .footer_logo{
  width: 40%;
  margin: 0 auto;
}
#footer .footer_logo img{
  width: 100%;
  height: auto;
}

div.time_nav{
  display: flex;
  text-align: center;
  justify-content: space-between;
}
div.time_nav a{
  flex-grow: 1;
  color: #000;
  text-decoration: none;
  border: 1px solid #666;
  margin: 0 3px;
  padding: 2px 0;
  border-radius: 3px;
  background-color: #c2c2c2;
  max-width:300px;
}
div.time_nav a:hover{
  background-color: deepskyblue;
  color: #fff;
  font-weight: 700;
}